<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách bài viết</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css"
          integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://kit.fontawesome.com/4c735a97a6.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Furama</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee/list">Employee list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee/create">Create Employee</a>
            </li>
        </ul>
        <form class="d-flex" action="/employee/search" method="get">
            <input class="form-control me-2" type="search" placeholder="Search Name" aria-label="Search" name="name">
            <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
</div>
<div class="row">
    <table class="table table-striped w-75 mx-auto">
        <thead class="thead-inverse">
        <tr>
            <th>No</th>
            <th>ID</th>
            <th>Name</th>
            <th>Birth day</th>
            <th>Id Card</th>
            <th>Salary</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Position</th>
            <th>Skill</th>
            <th>Department</th>
            <th>   </th>
            <th>More</th>
            <th>   </th>
        </tr>
        <tr th:each="em, iter : ${employeePage}">
            <td th:text="${iter.count}"> </td>
            <td th:text="${em.id}"> </td>
            <td th:text="${em.name}"> </td>
            <td th:text="${em.birthDay}"> </td>
            <td th:text="${em.idCard}"> </td>
            <td th:text="${em.salary}"> </td>
            <td th:text="${em.phone}"> </td>
            <td th:text="${em.email}"> </td>
            <td th:text="${em.address}"> </td>
            <td th:text="${em.position.namePosition}"> </td>
            <td th:text="${em.skill.nameSkill}"> </td>
            <td th:text="${em.department.nameDepartment}"> </td>

            <!--            Request param-->
            <td> <a th:href="@{/employee/detail/(id = ${em.id})}"><i class="fas fa-info-circle"></i></a></td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deModal">
                    <i class="fas fa-trash-alt"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>do you wuant to delete ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="text-danger">
                                    <a th:href="@{delete/{id}(id=${em.getId()})}" >Delete</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td> <a th:href="@{edit/{id}(id=${em.getId()})}"><i class="fas fa-edit"></i></a></td>

        </tr>
        <tr>
            <td>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" th:if="${employeePage.hasPrevious()}"
                                                 th:href="@{/employee/list-page(page = ${employeePage.number - 1})}">
                            Previous</a></li>
                    </ul>
                </nav>
            </td>
            <td>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:each="pageNo: ${#numbers.sequence(0,employeePage.totalPages - 1)}">
                            <a class="page-link" th:href="@{/employee/list-page(page = ${pageNo})}" th:text="${pageNo}">
                            </a></li>
                    </ul>
                </nav>
            </td>
            <td>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" th:if="${employeePage.hasNext()}"
                                                 th:href="@{/employee/list-page(page = ${employeePage.number + 1})}">
                            Next</a></li>
                    </ul>
                </nav>
            </td>
        </tr>
        </thead>

        <!--            <tbody id="content">-->
        <!--            </tbody>-->
    </table>
    <!--    </div>-->
    <!--    <button class="btn btn-success" id="loadMore">Xem thêm</button>-->
    <!--</div>-->
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

</script>
</html>