<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách bài viết</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css"
          integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://kit.fontawesome.com/4c735a97a6.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Furama</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contract/list-page">Customer list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contract/create">Create customer</a>
            </li>
        </ul>
        <form class="d-flex" action="/contract/search" method="get">
            <input class="form-control me-2" type="search" placeholder="Search Name" aria-label="Search" name="name">
            <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
</div>
<div class="row">
    <table class="table table-striped w-75 mx-auto">
        <thead class="thead-inverse">
        <tr>
            <th>No</th>
            <th>ID</th>
            <th>Date input</th>
            <th>Date output</th>
            <th>gender</th>
            <th>Deposit</th>
            <th>Total</th>
            <th>ID Employee</th>
            <th>ID Customer</th>
            <th>ID Service</th>
            <th></th>
            <th>More</th>
            <th></th>
        </tr>
        <tr th:each="con, iter : ${contractPage}">
            <td th:text="${iter.count}"></td>
            <td th:text="${con.id}"></td>
            <td th:text="${con.dateIn}"></td>
            <td th:text="${con.dateOut}"></td>
            <td th:text="${con.deposit}"></td>
            <td th:text="${con.total}"></td>
            <td th:text="${con.employee.id}"></td>
            <td th:text="${con.customer.id}"></td>
            <td th:text="${con.service.id}"></td>

            <!--            Request param-->
            <td><a th:href="@{/contract/detail/(id = ${con.id})}"><i class="fas fa-info-circle"></i></a></td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger btn-delete" data-toggle="modal"
                        data-target="#deleteModal" th:data-id="${con.id}" th:data-name="${con.deposit}">
                    <i class="fas fa-trash-alt"></i>
                </button>
                </td>
            <td><a th:href="@{edit/{id}(id=${con.getId()})}"><i class="fas fa-edit"></i></a></td>
        </tr>

                Phân trang
        <tr>
            <td>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" th:if="${contractPage.hasPrevious()}"
                                                 th:href="@{/contract/list-page(page = ${contractPage.number - 1})}">
                            Previous</a></li>
                    </ul>
                </nav>
            </td>
            <td>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:each="pageNo: ${#numbers.sequence(0,contractPage.totalPages - 1)}">
                            <a class="page-link" th:href="@{/contract/list-page(page = ${pageNo})}" th:text="${pageNo}">
                            </a></li>
                    </ul>
                </nav>
            </td>
            <td>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" th:if="${contractPage.hasNext()}"
                                                 th:href="@{/contract/list-page(page = ${contractPage.number + 1})}">
                            Next</a></li>
                    </ul>
                </nav>
            </td>
        </tr>

    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>do you wuant to delete <span id="name-delete" class="text-danger"></span></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="text-danger">
                        <a id="link-delete" class="btn btn-danger" href="">Delete</a></button>
                </div>
            </div>
        </div>
    </div>
    </thead>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(".btn-delete").click(function () {
        let id = this.dataset.id;
        let name = this.dataset.name;
        $('#name-delete').html(name);
        $('#link-delete').attr("href", "http://localhost:8090/contract/delete?id="+id);
    })
</script>
</html>