<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<div style="background-color: red" th:include="~{student/common_student:: headerStudent}">

</div>
<form action="/student/list" method="get">
    <label>Name: </label>
    <input name="name">
    <button type="submit"></button>
</form>
<h1>Student List</h1>
<p><a href="/student/create">Create Student</a></p>
<p style="color: blue" th:text="#{msg}"></p>
<table border="1" style="width: 1000px">
    <tr>
        <th>No</th>
        <th>Id</th>
        <th>Name</th>
        <th>Date of birth</th>
        <th>Rank</th>
        <th>Gender</th>
        <th>Class</th>

        <th colspan="2">Action</th>
    </tr>
    <tr th:each="studentObj,iter : ${studentPage}">
        <td th:text="${iter.count}"></td>
        <td th:text="${studentObj.id}"></td>
        <td th:text="${studentObj.name}"></td>
        <td th:text="${studentObj.dateOfBirth}"></td>
        <td th:if="${studentObj.grade <5}">Bad</td>
        <td th:if="${studentObj.grade<8 && studentObj.grade>=5}">Good</td>
        <td th:if="${studentObj.grade>=8}">Excellent</td>
        </td>
        <td th:if="${studentObj.gender == 0}">
            Female
        </td>
        <td th:if="${studentObj.gender == 1}">
            Male
        </td>
        </td>
        <td th:text="${studentObj.classRoom.nameClass}"></td>
        <!--            Request param-->
        <td><a th:href="@{/student/detail/(id = ${studentObj.id})}">Detail Student</a></td>
        <!--            Path Variable-->
        <td><a th:href="@{/student/detail/{id}(id = ${studentObj.id})}">Detail Student</a></td>
    </tr>
</table>
<span>
    <a th:if="${studentPage.hasPrevious()}" th:href="@{/student/list-page(page = ${studentPage.number - 1})}">
        Previous
    </a>
     <a th:if="${studentPage.hasNext()}" th:href="@{/student/list-page(page = ${studentPage.number + 1})}">
        Next
    </a>
    <p>
        <span th:each="pageNo: ${#numbers.sequence(0,studentPage.totalPages - 1)}">
            <a th:href="@{/student/list-page(page = ${pageNo})}" th:text="${pageNo}"></a>
        </span>
    </p>
</span>
<div th:replace="~{student/common_student:: footerStudent}"></div>
</body>
</html>
