<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>

</div>

<h1>Code List</h1>
<p><a href="/book/create">Create Code</a></p>
<p style="color: blue" th:text="#{msg}"></p>


<table border="1" style="width: 1000px">
    <tr>
        <th>No</th>
        <th>Id</th>
        <th>code</th>
        <th>Borrow-Book</th>
        <th>Return-Book</th>
        <th colspan="3">Action</th>
    </tr>
    <tr th:each="codeObj,iter : ${codes}">
        <td th:text="${iter.count}"></td>
        <td th:text="${codeObj.id}"></td>
        <td th:text="${codeObj.code}"></td>

        <!--            Request param-->
        <td><a th:href="@{/code/detail/(id = ${codeObj.id})}">borrow</a></td>
        <td><a th:href="@{/code/detail/(id = ${codeObj.id})}">return</a></td>
        <td><a th:href="@{/code/detail/(id = ${codeObj.id})}">Detail Book</a></td>
        <td><a th:href="@{delete/{id}(id=${codeObj.getId()})}">Delete</a></td>
        <td><a th:href="@{edit/{id}(id=${codeObj.getId()})}">Edit</a></td>
    </tr>
</table>
</body>
</html>
