<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/book/create" method="post" th:object="${books}">
    <p>id: </p>
    <input type="hidden" th:field="*{id}"/>
    <p>name: </p>
    <input th:field="*{name}"/>
    <p>Content</p>
    <input  th:field="*{year}"/>
    <p>Note</p>
    <input th:field="*{quantity}"/>
    <p>category</p>
    <select th:field="*{code}">
        <option th:each="cate :${code} " th:value="${cate.id}" th:text="${cate.code}">

        </option>
    </select>

    <button type="submit">Create</button>
</form>
</body>
</html>