<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/categories/create" method="post" th:object="${category}">
    <p>id: </p>
    <input type="hidden" th:field="*{id}"/>
    <p>name: </p>
    <input th:field="*{name}"/>
    <p>category</p>
    <select th:field="*{category}">
        <option th:each="cate :${category} " th:value="${cate.id}" th:text="${cate.name}">

        </option>
    </select>
    <button type="submit">Create</button>
</form>
</body>
</html>