<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách bài viết</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css"
          integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://kit.fontawesome.com/4c735a97a6.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Furama</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer/list">Customer list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer/create">Create customer</a>
            </li>
        </ul>
        <form class="d-flex" action="/customer/search" method="get">
            <input class="form-control me-2" type="search" placeholder="Search Name" aria-label="Search" name="name">
            <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
        </div>
    <div class="row">
        <table class="table table-striped w-75 mx-auto">
            <thead class="thead-inverse">
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Name</th>
                <th>Birth day</th>
                <th>gender</th>
                <th>Id Card</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Customer Type</th>
                <th>   </th>
                <th>More</th>
                <th>   </th>
            </tr>
            <tr th:each="cus, iter : ${customer}">
                <td th:text="${iter.count}"> </td>
                <td th:text="${cus.id}"> </td>
                <td th:text="${cus.name}"> </td>
                <td th:text="${cus.birthday}"> </td>
                </td>
                 <td th:if="${cus.gender}==1">Nam</td>
                 <td th:if="${cus.gender}==0">Nữ</td>
                </td>
                <td th:text="${cus.idCard}"> </td>
                <td th:text="${cus.phone}"> </td>
                <td th:text="${cus.email}"> </td>
                <td th:text="${cus.address}"> </td>
                <td th:text="${cus.customerType.name}"> </td>

                <!--            Request param-->
                <td> <a th:href="@{/customer/detail/(id = ${cus.id})}"><i class="fas fa-info-circle"></i></a></td>
                <td> <a th:href="@{delete/{id}(id=${cus.getId()})}"><i class="fas fa-trash-alt"></i></a></td>
                <td> <a th:href="@{edit/{id}(id=${cus.getId()})}"><i class="fas fa-edit"></i></a></td>

            </tr>
            </thead>

<!--            <tbody id="content">-->
<!--            </tbody>-->
        </table>
<!--    </div>-->
<!--    <button class="btn btn-success" id="loadMore">Xem thêm</button>-->
<!--</div>-->
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

</script>
</html>