<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>

</div>
<form action="/blog/list" method="get">
    <label>Name: </label>
    <input name="name">
    <button type="submit"></button>
</form>
<h1>Student List</h1>
<p><a href="/blog/create">Create blog</a></p>
<p style="color: blue" th:text="#{msg}"></p>
<table border="1" style="width: 1000px">
    <tr>
        <th>No</th>
        <th>Id</th>
        <th>Name</th>
        <th>Content</th>
        <th>Note</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="blogObj,iter : ${blogs}">
        <td th:text="${iter.count}"></td>
        <td th:text="${blogObj.id}"></td>
        <td th:text="${blogObj.name}"></td>
        <td th:text="${blogObj.content}"></td>
        <td th:text="${blogObj.note}"></td>

        <!--            Request param-->
        <td><a th:href="@{/blog/detail/(id = ${blogObj.id})}">Detail Student</a></td>
        <!--            Path Variable-->
        <td><a th:href="@{/blog/detail/{id}(id = ${blogObj.id})}">Detail Student</a></td>
    </tr>
</table>
</body>
</html>
